.banner{
background-color:springgreen;
border:50px;
margin:20px;
width:100%;
height:100px;
}
.banner-text{
top:50px;
left:50%;
margin:0px;
bottom:50px;
position:absolute;
transform:transform;
}
body{
background-color:turquoise;
}
.container{
background-color:snow;
}